body {
    background-color: #111111;
    position: relative;
}

a {
    border: 2px solid white;
    color: white;
    margin: 25px auto;
    width: 135px;
    height: 15px;
    padding: 15px;
    line-height: 50px;
}

iframe {
    top: 100px;
    position: absolute;
    left: 0;
}