
element.style {
}
.Layout.Layout--sidebarPosition-start .Layout-sidebar {
    grid-column: 1;
}
.Layout .Layout-sidebar {
    grid-column: 1;
}
.Layout-sidebar {
    width: var(--Layout-sidebar-width);
}
* {
    box-sizing: border-box;
}
folha de estilos de agente de usuário
div {
    display: block;
}
@media (min-width: 1012px)
.Layout {
    --Layout-sidebar-width: 296px;
}
@media (min-width: 768px)
.Layout {
    --Layout-sidebar-width: 256px;
}
@media (min-width: 544px)
.Layout {
    --Layout-sidebar-width: 220px;
}
@media (min-width: 1012px)
.Layout {
    --Layout-gutter: 24px;
}
.Layout {
    --Layout-sidebar-width: 220px;
    --Layout-gutter: 16px;
    display: grid;
}
Atributo style {
    word-wrap: break-word;
}
Atributo style {
    word-wrap: break-word;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: var(--body-font-size, 14px);
    line-height: 1.5;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--bgColor-default, var(--color-canvas-default));
}
[data-color-mode=light][data-light-theme*=dark], [data-color-mode=dark][data-dark-theme*=dark] {
    --color-mktg-btn-shadow-outline: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
    --color-marketing-icon-primary: var(--color-scale-blue-2);
    --color-marketing-icon-secondary: var(--color-scale-blue-5);
    --color-mktg-btn-bg: #f6f8fa;
    --color-mktg-btn-shadow-focus: rgba(255, 255, 255, 0.25) 0 0 0 4px;
    --color-mktg-btn-shadow-hover: 0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07);
    --color-mktg-btn-shadow-hover-muted: white 0 0 0 2px inset;
}
[data-color-mode=light][data-light-theme*=dark], [data-color-mode=dark][data-dark-theme*=dark] {
    --color-workflow-card-connector: var(--color-scale-gray-5);
    --color-workflow-card-connector-bg: var(--color-scale-gray-5);
    --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-highlight: var(--color-scale-blue-5);
    --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-5);
    --color-workflow-card-bg: var(--color-scale-gray-7);
    --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
    --color-workflow-card-header-shadow: rgba(27, 31, 35, 0.04);
    --color-workflow-card-progress-complete-bg: var(--color-scale-blue-5);
    --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-6);
    --color-discussions-state-answered-icon: var(--color-scale-green-3);
    --color-bg-discussions-row-emoji-box: var(--color-scale-gray-6);
    --color-notifications-button-text: var(--color-scale-white);
    --color-notifications-button-hover-text: var(--color-scale-white);
    --color-notifications-button-hover-bg: var(--color-scale-blue-4);
    --color-notifications-row-read-bg: var(--color-canvas-default);
    --color-notifications-row-bg: var(--bgColor-muted, var(--color-canvas-subtle));
    --color-icon-directory: var(--fgColor-muted, var(--color-fg-muted));
    --color-checks-step-error-icon: var(--color-scale-red-4);
    --color-calendar-halloween-graph-day-L1-bg: #631c03;
    --color-calendar-halloween-graph-day-L2-bg: #bd561d;
    --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
    --color-calendar-halloween-graph-day-L4-bg: #fddf68;
    --color-calendar-winter-graph-day-L1-bg: #0A3069;
    --color-calendar-winter-graph-day-L2-bg: #0969DA;
    --color-calendar-winter-graph-day-L3-bg: #54AEFF;
    --color-calendar-winter-graph-day-L4-bg: #B6E3FF;
    --color-calendar-graph-day-bg: var(--color-scale-gray-8);
    --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-bg: #0e4429;
    --color-calendar-graph-day-L2-bg: #006d32;
    --color-calendar-graph-day-L3-bg: #26a641;
    --color-calendar-graph-day-L4-bg: #39d353;
    --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
    --color-user-mention-fg: var(--color-scale-yellow-0);
    --color-user-mention-bg: var(--color-scale-yellow-8);
    --color-dashboard-feed-bg: var(--color-scale-gray-9);
    --color-mktg-btn-shadow-outline: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
    --color-marketing-icon-primary: var(--color-scale-blue-2);
    --color-marketing-icon-secondary: var(--color-scale-blue-5);
    --color-project-header-bg: var(--color-scale-gray-9);
    --color-project-sidebar-bg: var(--color-scale-gray-8);
    --color-project-gradient-in: var(--color-scale-gray-8);
    --color-project-gradient-out: rgba(22, 27, 34, 0);
    --color-diff-blob-selected-line-highlight-mix-blend-mode: screen;
    --color-checks-donut-error: var(--color-scale-red-4);
Mostrar Todas as Propriedades (mais 4)
}
[data-color-mode=light][data-light-theme*=dark], [data-color-mode=dark][data-dark-theme*=dark] {
    --color-social-reaction-bg-hover: var(--color-scale-gray-7);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}
[data-color-mode=light][data-light-theme*=dark], [data-color-mode=dark][data-dark-theme*=dark] {
    color-scheme: dark;
}
[data-color-mode=light][data-light-theme=dark], [data-color-mode=light][data-light-theme=dark]::selection, [data-color-mode=dark][data-dark-theme=dark], [data-color-mode=dark][data-dark-theme=dark]::selection {
    --color-canvas-default-transparent: rgba(13,17,23,0);
    --color-page-header-bg: #0d1117;
    --color-marketing-icon-primary: #79c0ff;
    --color-marketing-icon-secondary: #1f6feb;
    --color-diff-blob-addition-num-text: #e6edf3;
    --color-diff-blob-addition-fg: #e6edf3;
    --color-diff-blob-addition-num-bg: rgba(63,185,80,0.3);
    --color-diff-blob-addition-line-bg: rgba(46,160,67,0.15);
    --color-diff-blob-addition-word-bg: rgba(46,160,67,0.4);
    --color-diff-blob-deletion-num-text: #e6edf3;
    --color-diff-blob-deletion-fg: #e6edf3;
    --color-diff-blob-deletion-num-bg: rgba(248,81,73,0.3);
    --color-diff-blob-deletion-line-bg: rgba(248,81,73,0.1);
    --color-diff-blob-deletion-word-bg: rgba(248,81,73,0.4);
    --color-diff-blob-hunk-num-bg: rgba(56,139,253,0.4);
    --color-diff-blob-expander-icon: #7d8590;
    --color-diff-blob-selected-line-highlight-mix-blend-mode: screen;
    --color-diffstat-deletion-border: rgba(240,246,252,0.1);
    --color-diffstat-addition-border: rgba(240,246,252,0.1);
    --color-diffstat-addition-bg: #3fb950;
    --color-search-keyword-hl: rgba(210,153,34,0.4);
    --color-prettylights-syntax-comment: #8b949e;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #c9d1d9;
    --color-prettylights-syntax-markup-bold: #c9d1d9;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
Mostrar Todas as Propriedades (mais 396)
}
[data-color-mode="dark"][data-dark-theme*="dark"], [data-color-mode="auto"][data-light-theme*="dark"] {
    --border-color-iteration-1: #363940;
    --border-color-iteration-2: #3F434B;
    --border-color-iteration-3: #4B5159;
    --border-color-iteration-4: #5b626c;
    --control-borderColor-rest: var(--border-color-iteration-4, var(--border-color-iteration-3, var(--border-color-iteration-2, var(--border-color-iteration-1)))) !important;
}
:root {
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}
:root {
    --growth-GhasTrial-dark-gradient: linear-gradient(267.91deg, #ffe57f 9.35%, #ff7170 96.48%);
    --growth-GhasTrial-light-gradient: linear-gradient(267.91deg, #bc4c00 9.35%, #d42a32 96.48%);
}
:root, [data-color-mode=light][data-light-theme*=light], [data-color-mode=dark][data-dark-theme*=light] {
    --color-mktg-btn-shadow-outline: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
    --color-marketing-icon-primary: var(--color-scale-blue-4);
    --color-marketing-icon-secondary: var(--color-scale-blue-3);
    --color-mktg-btn-bg: #1b1f23;
    --color-mktg-btn-shadow-focus: rgba(0, 0, 0, 0.15) 0 0 0 4px;
    --color-mktg-btn-shadow-hover: 0 3px 2px rgba(0, 0, 0, 0.07), 0 7px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.03), 0 22px 18px rgba(0, 0, 0, 0.03), 0 42px 33px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
    --color-mktg-btn-shadow-hover-muted: rgba(0, 0, 0, 0.7) 0 0 0 2px inset;
}
:root {
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}
:root {
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}
:root {
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}
:root {
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}
:root, [data-color-mode=light][data-light-theme*=light], [data-color-mode=dark][data-dark-theme*=light] {
    --color-workflow-card-connector: var(--color-scale-gray-3);
    --color-workflow-card-connector-bg: var(--color-scale-gray-3);
    --color-workflow-card-connector-inactive: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-inactive-bg: var(--borderColor-default, var(--color-border-default));
    --color-workflow-card-connector-highlight: var(--color-scale-blue-4);
    --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-4);
    --color-workflow-card-bg: var(--color-scale-white);
    --color-workflow-card-inactive-bg: var(--bgColor-inset, var(--color-canvas-inset));
    --color-workflow-card-header-shadow: rgba(0, 0, 0, 0);
    --color-workflow-card-progress-complete-bg: var(--color-scale-blue-4);
    --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-2);
    --color-discussions-state-answered-icon: var(--color-scale-white);
    --color-bg-discussions-row-emoji-box: rgba(209, 213, 218, 0.5);
    --color-notifications-button-text: var(--fgColor-muted, var(--color-fg-muted));
    --color-notifications-button-hover-text: var(--fgColor-default, var(--color-fg-default));
    --color-notifications-button-hover-bg: var(--color-scale-gray-2);
    --color-notifications-row-read-bg: var(--bgColor-muted, var(--color-canvas-subtle));
    --color-notifications-row-bg: var(--color-scale-white);
    --color-icon-directory: var(--color-scale-blue-3);
    --color-checks-step-error-icon: var(--color-scale-red-4);
    --color-calendar-halloween-graph-day-L1-bg: #ffee4a;
    --color-calendar-halloween-graph-day-L2-bg: #ffc501;
    --color-calendar-halloween-graph-day-L3-bg: #fe9600;
    --color-calendar-halloween-graph-day-L4-bg: #03001c;
    --color-calendar-winter-graph-day-L1-bg: #B6E3FF;
    --color-calendar-winter-graph-day-L2-bg: #54AEFF;
    --color-calendar-winter-graph-day-L3-bg: #0969DA;
    --color-calendar-winter-graph-day-L4-bg: #0A3069;
    --color-calendar-graph-day-bg: #ebedf0;
    --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-bg: #9be9a8;
    --color-calendar-graph-day-L2-bg: #40c463;
    --color-calendar-graph-day-L3-bg: #30a14e;
    --color-calendar-graph-day-L4-bg: #216e39;
    --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
    --color-user-mention-fg: var(--fgColor-default, var(--color-fg-default));
    --color-user-mention-bg: var(--bgColor-attention-muted, var(--color-attention-subtle));
    --color-dashboard-feed-bg: var(--color-scale-white);
    --color-mktg-btn-shadow-outline: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
    --color-marketing-icon-primary: var(--color-scale-blue-4);
    --color-marketing-icon-secondary: var(--color-scale-blue-3);
    --color-project-header-bg: var(--color-scale-gray-9);
    --color-project-sidebar-bg: var(--color-scale-white);
    --color-project-gradient-in: var(--color-scale-white);
    --color-project-gradient-out: rgba(255, 255, 255, 0);
    --color-diff-blob-selected-line-highlight-mix-blend-mode: multiply;
    --color-checks-donut-error: var(--color-scale-red-4);
Mostrar Todas as Propriedades (mais 4)
}
:root, [data-color-mode=light][data-light-theme*=light], [data-color-mode=dark][data-dark-theme*=light] {
    --color-social-reaction-bg-hover: var(--color-scale-gray-1);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}
:root {
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}
:root {
    --duration-fast: 80ms;
    --easing-easeInOut: cubic-bezier(0.65,0,0.35,1);
}
:root {
    --actionListContent-paddingBlock: var(--control-medium-paddingBlock,0.375rem);
}
:root {
    --Layout-pane-width: 220px;
    --Layout-content-width: 100%;
    --Layout-template-columns: 1fr var(--Layout-pane-width);
    --Layout-template-areas: "content pane";
    --Layout-column-gap: 16px;
    --Layout-row-gap: 16px;
    --Layout-outer-spacing-x: 0px;
    --Layout-outer-spacing-y: 0px;
    --Layout-inner-spacing-min: 0px;
    --Layout-inner-spacing-max: 0px;
}
[data-color-mode] {
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--bgColor-default, var(--color-canvas-default));
}
:root, [data-color-mode=light][data-light-theme*=light], [data-color-mode=dark][data-dark-theme*=light] {
    color-scheme: light;
}
:root {
    --text-codeInline-size: 0.9285em;
    --text-codeBlock-lineHeight: 1.5385;
    --text-codeBlock-size: 0.8125rem;
    --text-caption-lineHeight: 1.3333;
    --text-caption-size: 0.75rem;
    --text-body-lineHeight-small: 1.6666;
    --text-body-lineHeight-medium: 1.4285;
    --text-body-lineHeight-large: 1.5;
    --text-body-size-small: 0.75rem;
    --text-body-size-medium: 0.875rem;
    --text-body-size-large: 1rem;
    --text-subtitle-lineHeight: 1.6;
    --text-subtitle-size: 1.25rem;
    --text-title-lineHeight-small: 1.5;
    --text-title-lineHeight-medium: 1.6;
    --text-title-lineHeight-large: 1.5;
    --text-title-size-small: 1rem;
    --text-title-size-medium: 1.25rem;
    --text-title-size-large: 2rem;
    --text-display-lineHeight: 1.4;
    --text-display-size: 2.5rem;
    --text-display-lineBoxHeight: 3.5rem;
    --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --fontStack-sansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --fontStack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --text-codeInline-weight: 400;
    --text-codeBlock-weight: 400;
    --text-caption-weight: 400;
    --text-body-weight: 400;
    --text-subtitle-weight: 400;
    --text-title-weight-small: 600;
    --text-title-weight-medium: 600;
    --text-title-weight-large: 600;
    --text-display-weight: 500;
    --text-codeInline-shorthand: var(--text-codeInline-weight) var(--text-codeInline-size) var(--fontStack-monospace);
    --text-codeBlock-shorthand: var(--text-codeBlock-weight) var(--text-codeBlock-size)/var(--text-codeBlock-lineHeight) var(--fontStack-monospace);
    --text-caption-shorthand: var(--text-caption-weight) var(--text-caption-size)/var(--text-caption-lineHeight) var(--fontStack-sansSerif);
    --text-body-shorthand-small: var(--text-body-weight) var(--text-body-size-small)/var(--text-body-lineHeight-small) var(--fontStack-sansSerif);
    --text-body-shorthand-medium: var(--text-body-weight) var(--text-body-size-medium)/var(--text-body-lineHeight-medium) var(--fontStack-sansSerif);
    --text-body-shorthand-large: var(--text-body-weight) var(--text-body-size-large)/var(--text-body-lineHeight-large) var(--fontStack-sansSerif);
    --text-subtitle-shorthand: var(--text-subtitle-weight) var(--text-subtitle-size)/var(--text-subtitle-lineHeight) var(--fontStack-sansSerif);
    --text-title-shorthand-small: var(--text-title-weight-small) var(--text-title-size-small)/var(--text-title-lineHeight-small) var(--fontStack-sansSerif);
    --text-title-shorthand-medium: var(--text-title-weight-medium) var(--text-title-size-medium)/var(--text-title-lineHeight-medium) var(--fontStack-sansSerif);
    --text-title-shorthand-large: var(--text-title-weight-large) var(--text-title-size-large)/var(--text-title-lineHeight-large) var(--fontStack-sansSerif);
    --text-display-shorthand: var(--text-display-weight) var(--text-display-size)/var(--text-display-lineHeight) var(--fontStack-sansSerif);
}
:root {
    --control-minTarget-fine: 1rem;
    --control-minTarget-coarse: 2.75rem;
    --control-xsmall-size: 1.5rem;
    --control-xsmall-lineBoxHeight: 1.25rem;
    --control-xsmall-paddingBlock: 0.125rem;
    --control-xsmall-paddingInline-condensed: 0.25rem;
    --control-xsmall-paddingInline-normal: 0.5rem;
    --control-xsmall-paddingInline-spacious: 0.75rem;
    --control-xsmall-gap: 0.25rem;
    --control-small-size: 1.75rem;
    --control-small-lineBoxHeight: 1.25rem;
    --control-small-paddingBlock: 0.25rem;
    --control-small-paddingInline-condensed: 0.5rem;
    --control-small-paddingInline-normal: 0.75rem;
    --control-small-gap: 0.25rem;
    --control-medium-size: 2rem;
    --control-medium-lineBoxHeight: 1.25rem;
    --control-medium-paddingBlock: 0.375rem;
    --control-medium-paddingInline-condensed: 0.5rem;
    --control-medium-paddingInline-normal: 0.75rem;
    --control-medium-paddingInline-spacious: 1rem;
    --control-medium-gap: 0.5rem;
    --control-large-size: 2.5rem;
    --control-large-lineBoxHeight: 1.25rem;
    --control-large-paddingBlock: 0.625rem;
    --control-large-paddingInline-normal: 0.75rem;
    --control-large-paddingInline-spacious: 1rem;
    --control-large-gap: 0.5rem;
    --control-xlarge-size: 3rem;
    --control-xlarge-lineBoxHeight: 1.25rem;
    --control-xlarge-paddingBlock: 0.875rem;
    --control-xlarge-paddingInline-normal: 0.75rem;
    --control-xlarge-paddingInline-spacious: 1rem;
    --control-xlarge-gap: 0.5rem;
    --controlStack-small-gap-condensed: 0.5rem;
    --controlStack-small-gap-spacious: 1rem;
    --controlStack-medium-gap-condensed: 0.5rem;
    --controlStack-medium-gap-spacious: 0.75rem;
    --controlStack-large-gap-auto: 0.5rem;
    --controlStack-large-gap-condensed: 0.5rem;
    --controlStack-large-gap-spacious: 0.75rem;
    --space-xxsmall: 0.125rem;
    --space-xsmall: 0.25rem;
    --space-small: 0.375rem;
    --space-medium: 0.5rem;
    --space-large: 0.75rem;
    --space-xlarge: 1rem;
    --spinner-strokeWidth-default: 0.125rem;
    --spinner-size-small: 1rem;
    --spinner-size-medium: 2rem;
Mostrar Todas as Propriedades (mais 21)
}
@media (pointer: fine)
:root {
    --control-minTarget-auto: 1rem;
    --controlStack-small-gap-auto: 0.5rem;
    --controlStack-medium-gap-auto: 0.5rem;
}
:root {
    --breakpoint-xsmall: 20rem;
    --breakpoint-small: 34rem;
    --breakpoint-medium: 48rem;
    --breakpoint-large: 63.25rem;
    --breakpoint-xlarge: 80rem;
    --breakpoint-xxlarge: 90rem;
}
:root {
    --boxShadow-thin: inset 0 0 0 max(1px, 0.0625rem);
    --boxShadow-thick: inset 0 0 0 max(2px, 0.125rem);
    --boxShadow-thicker: inset 0 0 0 max(4px, 0.25rem);
    --borderWidth-thin: max(1px, 0.0625rem);
    --borderWidth-thick: max(2px, 0.125rem);
    --borderWidth-thicker: max(4px, 0.25rem);
    --borderRadius-small: 0.1875rem;
    --borderRadius-medium: 0.375rem;
    --borderRadius-large: 0.75rem;
    --borderRadius-full: 624.9375rem;
    --outline-focus-offset: -0.125rem;
    --outline-focus-width: 0.125rem;
}
:root {
    --base-text-weight-light: 300;
    --base-text-weight-normal: 400;
    --base-text-weight-medium: 500;
    --base-text-weight-semibold: 600;
}
:root {
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-12: 0.75rem;
    --base-size-16: 1rem;
    --base-size-20: 1.25rem;
    --base-size-24: 1.5rem;
    --base-size-28: 1.75rem;
    --base-size-32: 2rem;
    --base-size-36: 2.25rem;
    --base-size-40: 2.5rem;
    --base-size-44: 2.75rem;
    --base-size-48: 3rem;
    --base-size-64: 4rem;
    --base-size-80: 5rem;
    --base-size-96: 6rem;
    --base-size-112: 7rem;
    --base-size-128: 8rem;
}
:root {
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}
html {
    font-size: 16px;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
[data-color-mode=light][data-light-theme*=dark] ::selection, [data-color-mode=dark][data-dark-theme*=dark] ::selection {
    background-color: var(--bgColor-accent-muted, var(--color-accent-muted));
}